.sidebar-container {
    max-width: 181px;
    height: 100vh;
    padding: 56px 28px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 768px) {
        width: 100%;
        justify-content: center;
        position: absolute;
        .logo {
            display: none;
        }
    }

    .sign-out {
        position: absolute;
        bottom: 10px;
        width: 100%;
        color: rgb(29, 29, 29);
    }
}
@media (max-width: 768px) {
    .sign-out {
        position: absolute;
        bottom: 10px;
        width: 100%;
        color: rgb(29, 29, 29);
    }
}
